$days:
  "mon" 0.5,
  "tue" 101.5,
  "wed" 202.5,
  "thu" 303.5,
  "fri" 404.5,
  "sut" 505.5,
  "sun" 606.5;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

.calendar > * {
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.calendar {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 709px;
  height: 700px;

  :first-child {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    margin: 0.5px;
    justify-content: flex;
    align-items: center;
    background-color: #eee;

    &:first-child::before {
      content: "1";
      text-align: center;
      margin: auto;
    }
  }
}

@each $day, $size in $days {
  .calendar-#{$day} {
    div:first-child {
      margin-left: #{$size}px;
    }
  }
}

@for $i from 2 through 31 {
  .calendar-#{$i} > :nth-child(-n+#{$i}) {
    display: flex;

    &:hover {
      background-color: pink;
      cursor: pointer;
      transform: translateY(-20px);
      transition: 500ms;
    }
  }

  .calendar > :nth-child(#{$i})::before {
    content: "#{$i}";
    text-align: center;
    margin: auto;
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} {
    :nth-child(#{$i}) ~ div {
      display: none;
    }
  }
}
