body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.calendar {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 709px;
  height: 700px;
  border: red solid 1px; }

.calendar > :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  margin: 0.5px;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar > :first-child:hover {
    background-color: pink;
    cursor: pointer; }
  .calendar > :first-child:first-child::before {
    content: "1";
    text-align: center;
    margin: auto; }

.calendar-mon div:first-child {
  margin-left: 0.5px; }

.calendar-tue div:first-child {
  margin-left: 101.5px; }

.calendar-wed div:first-child {
  margin-left: 202.5px; }

.calendar-thu div:first-child {
  margin-left: 303.5px; }

.calendar-fri div:first-child {
  margin-left: 404.5px; }

.calendar-sut div:first-child {
  margin-left: 505.5px; }

.calendar-sun div:first-child {
  margin-left: 606.5px; }

.calendar-2 > :nth-child(-n+2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-2 > :nth-child(-n+2):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(2)::before {
  content: "2";
  text-align: center;
  margin: auto; }

.calendar-3 > :nth-child(-n+3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-3 > :nth-child(-n+3):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(3)::before {
  content: "3";
  text-align: center;
  margin: auto; }

.calendar-4 > :nth-child(-n+4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-4 > :nth-child(-n+4):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(4)::before {
  content: "4";
  text-align: center;
  margin: auto; }

.calendar-5 > :nth-child(-n+5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-5 > :nth-child(-n+5):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(5)::before {
  content: "5";
  text-align: center;
  margin: auto; }

.calendar-6 > :nth-child(-n+6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-6 > :nth-child(-n+6):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(6)::before {
  content: "6";
  text-align: center;
  margin: auto; }

.calendar-7 > :nth-child(-n+7) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-7 > :nth-child(-n+7):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(7)::before {
  content: "7";
  text-align: center;
  margin: auto; }

.calendar-8 > :nth-child(-n+8) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-8 > :nth-child(-n+8):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(8)::before {
  content: "8";
  text-align: center;
  margin: auto; }

.calendar-9 > :nth-child(-n+9) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-9 > :nth-child(-n+9):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(9)::before {
  content: "9";
  text-align: center;
  margin: auto; }

.calendar-10 > :nth-child(-n+10) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-10 > :nth-child(-n+10):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(10)::before {
  content: "10";
  text-align: center;
  margin: auto; }

.calendar-11 > :nth-child(-n+11) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-11 > :nth-child(-n+11):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(11)::before {
  content: "11";
  text-align: center;
  margin: auto; }

.calendar-12 > :nth-child(-n+12) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-12 > :nth-child(-n+12):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(12)::before {
  content: "12";
  text-align: center;
  margin: auto; }

.calendar-13 > :nth-child(-n+13) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-13 > :nth-child(-n+13):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(13)::before {
  content: "13";
  text-align: center;
  margin: auto; }

.calendar-14 > :nth-child(-n+14) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-14 > :nth-child(-n+14):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(14)::before {
  content: "14";
  text-align: center;
  margin: auto; }

.calendar-15 > :nth-child(-n+15) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-15 > :nth-child(-n+15):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(15)::before {
  content: "15";
  text-align: center;
  margin: auto; }

.calendar-16 > :nth-child(-n+16) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-16 > :nth-child(-n+16):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(16)::before {
  content: "16";
  text-align: center;
  margin: auto; }

.calendar-17 > :nth-child(-n+17) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-17 > :nth-child(-n+17):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(17)::before {
  content: "17";
  text-align: center;
  margin: auto; }

.calendar-18 > :nth-child(-n+18) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-18 > :nth-child(-n+18):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(18)::before {
  content: "18";
  text-align: center;
  margin: auto; }

.calendar-19 > :nth-child(-n+19) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-19 > :nth-child(-n+19):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(19)::before {
  content: "19";
  text-align: center;
  margin: auto; }

.calendar-20 > :nth-child(-n+20) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-20 > :nth-child(-n+20):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(20)::before {
  content: "20";
  text-align: center;
  margin: auto; }

.calendar-21 > :nth-child(-n+21) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-21 > :nth-child(-n+21):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(21)::before {
  content: "21";
  text-align: center;
  margin: auto; }

.calendar-22 > :nth-child(-n+22) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-22 > :nth-child(-n+22):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(22)::before {
  content: "22";
  text-align: center;
  margin: auto; }

.calendar-23 > :nth-child(-n+23) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-23 > :nth-child(-n+23):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(23)::before {
  content: "23";
  text-align: center;
  margin: auto; }

.calendar-24 > :nth-child(-n+24) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-24 > :nth-child(-n+24):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(24)::before {
  content: "24";
  text-align: center;
  margin: auto; }

.calendar-25 > :nth-child(-n+25) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-25 > :nth-child(-n+25):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(25)::before {
  content: "25";
  text-align: center;
  margin: auto; }

.calendar-26 > :nth-child(-n+26) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-26 > :nth-child(-n+26):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(26)::before {
  content: "26";
  text-align: center;
  margin: auto; }

.calendar-27 > :nth-child(-n+27) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-27 > :nth-child(-n+27):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(27)::before {
  content: "27";
  text-align: center;
  margin: auto; }

.calendar-28 > :nth-child(-n+28) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-28 > :nth-child(-n+28):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(28)::before {
  content: "28";
  text-align: center;
  margin: auto; }

.calendar-29 > :nth-child(-n+29) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-29 > :nth-child(-n+29):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(29)::before {
  content: "29";
  text-align: center;
  margin: auto; }

.calendar-30 > :nth-child(-n+30) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-30 > :nth-child(-n+30):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(30)::before {
  content: "30";
  text-align: center;
  margin: auto; }

.calendar-31 > :nth-child(-n+31) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5px;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 30px; }
  .calendar-31 > :nth-child(-n+31):hover {
    background-color: pink;
    cursor: pointer; }

.calendar > :nth-child(31)::before {
  content: "31";
  text-align: center;
  margin: auto; }

.calendar-28 :nth-child(28) ~ div {
  display: none; }

.calendar-29 :nth-child(29) ~ div {
  display: none; }

.calendar-30 :nth-child(30) ~ div {
  display: none; }

.calendar-31 :nth-child(31) ~ div {
  display: none; }

/*# sourceMappingURL=main.css.map */
